# Required in Railway Variables
SECRET_KEY=replace-with-a-long-random-secret
MASTER_USERNAME=WEMOHAMMED1#
MASTER_PASSWORD=WEMOHAMMED1#

# Optional
ENABLE_TELEGRAM_BOT=0
MAX_UPLOAD_MB=100
COOKIE_SECURE=1
# TELEGRAM_BOT_TOKEN=
# TELEGRAM_OWNER_ID=
